body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif !important;
    color: #6C757D !important;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    width: 100%;
}

.logo, .menus, .links {
    flex: 1;
    padding: 10px;
    color: #6C757D;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-left: 3rem;
    padding-top: 1rem;
}

.menus {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
}

.links {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    margin-right: 3rem;
}

.date, .text {
    flex: 1;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
}

.intro-title {
    width: 35%;
    color: #212529;
}

.info {
    width: 40%;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-right: 10px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color: #6C757D;
    padding-bottom: 5px;
}

.menu li a:hover {
    color: #6C757D;
    border-color: orange;
    border-bottom: 2px solid #333;
}

.menu li a:active {
    color: #6C757D;
    border-color: orange;
    border-bottom: 2px solid #333;
}

.intro-container {
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.intro {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 25px;
    color: #6c757d;
    margin-left: 30%;
}

.intro hr {
    margin-inline-end: 28%;
}

.main-text-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.main-text {
    width: 90%;
    margin: auto;
    margin-left: 30%;

}

.main-text-title {
    width: 32%;
    padding-top: 100px;
}

.clothes {
    width: 100%;
    height: 500px;
    background-image: url("pictures/ruhak.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.button {
    top: 50%;
    transform: translateY(-50%);
  }

.columns {
      display: flex;
      gap: 1em;
      width: 30%;
      padding-top: 30px;
  }

.columns > * {
    flex: 1;
}

.stepper {
    display: flex;
    width: 100%;
    background-color: #5E5E5E0D;
    column-gap: 15%;
    height: 100px;
}

.stepper > * {
    margin: auto;
    text-align: center;
}

.points {
    font-size: 10px;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 80px;
}

.points p {
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

footer {
    background: #0b192c;
    height: 15rem;
    padding-top: 4rem;
}

.downline {
    width: 90%;
    margin: auto;
}

.rights-container{
    width: 100%;
    margin: auto;
}

.rights{
    width: 90%;
    padding-top: 30px;
}

.gallery {
    justify-content: space-between;
    display: flex;
    overflow-x: hidden;
    width: 110vw;
    height: 100%;
}

.gallery-wrapper {
    height: 600px;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
}

#gallery-buttons {
    margin: auto;
    height: 20px;
    width: 80px;
}

.gallery img {
    height: 400px;
}
